pkgbase = github-cli
	pkgdesc = The GitHub CLI
	pkgver = 2.68.0
	pkgrel = 1
	url = https://github.com/cli/cli
	arch = x86_64
	license = MIT
	checkdepends = openssh
	makedepends = go
	makedepends = git
	depends = glibc
	depends = mailcap
	optdepends = git: To interact with repositories
	optdepends = org.freedesktop.secrets: Store credentials in system keyring
	source = github-cli-2.68.0.tar.gz::https://github.com/cli/cli/archive/v2.68.0.tar.gz
	sha256sums = 9c211ff501fd42e1a842b9709cd994a59d39b6d34014d354f00049240b8d8838

pkgname = github-cli
