pkgbase = github-cli
	pkgdesc = The GitHub CLI
	pkgver = 2.90.0
	pkgrel = 1
	url = https://github.com/cli/cli
	arch = x86_64
	license = MIT
	checkdepends = openssh
	makedepends = go
	makedepends = git
	depends = glibc
	depends = mailcap
	optdepends = git: To interact with repositories
	optdepends = org.freedesktop.secrets: Store credentials in system keyring
	source = github-cli-2.90.0.tar.gz::https://github.com/cli/cli/archive/v2.90.0.tar.gz
	sha256sums = 87a6a3b3df1155e9d253ec6ae273d9e018773498b7ce7570f896a7cb75b64e39

pkgname = github-cli
